.image {
  margin-top: 2.5rem;

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

.content {
  margin-top: 5rem;
  color: var(--Heading);

  .info {
    display: flex;
    align-items: center;

    & + .info {
      margin-right: 2rem;
    }
  }
}